<!-- company.component.html -->
<p-dialog
  header="{{ companyId ? 'Edit Company' : 'Add Company' }}"
  [(visible)]="companyDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '400px' }"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [breakpoints]="{}"
  [styleClass]="'custom-dialog'"
>
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name" class="field-label">Name</label>
        <input id="name" pInputText formControlName="name" />
      </div>
    </div>
    <p-footer class="dialog-footer">
      <div class="dialog-actions">
        <button
          pButton
          type="submit"
          label="Save"
          class="p-button-success"
          [disabled]="companyForm.invalid"
        ></button>

        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-secondary"
          (click)="hideDialog()"
        ></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
