/* Custom Styles for PrimeNG ConfirmDialog */
::ng-deep .p-confirm-dialog {
  .p-dialog-content {
    display: flex;
    align-items: flex-end;

    .p-confirm-dialog-icon {
      font-size: 1.3rem;
    }

    .p-confirm-dialog-message {
      margin-left: 0.625rem;
    }
  }

  /* Reject Button Styles */
  .p-confirm-dialog-reject {
    height: 40px;
    background-color: #f8f9fa;
    border: 1px solid #e5e7eb;
    color: #64748b;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease;

    &:hover {
      background-color: #e2e6e9;
      border-color: #e5e7eb;
      color: #64748b;
    }
  }

  /* Accept Button Styles */
  .p-confirm-dialog-accept {
    height: 40px;
    background-color: #ea3535;
    border: 1px solid #ea3535;
    color: #ffffff;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
      background-color: #c0392b;
      border-color: #c0392b;
    }
  }
}
