<!-- company.component.html -->
<p-dialog
  header="{{ companyId ? 'Edit User' : 'Add User' }}"
  [(visible)]="userDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '400px' }"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [breakpoints]="{}"
  [styleClass]="'custom-dialog'"
>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name" class="field-label">Name</label>
        <input id="name" pInputText formControlName="name" />
      </div>
    </div>

    <div class="p-fluid">
      <div class="p-field">
        <label for="name" class="field-label">Name</label>
        <input id="name" pInputText formControlName="name" />
      </div>
    </div>

    <div class="p-fluid">
      <div class="p-field">
        <label for="email" class="field-label">Email</label>
        <input id="email" pInputText formControlName="email" />
      </div>
    </div>

    <div class="p-fluid">
      <div class="p-field">
        <label for="password" class="field-label">Password</label>
        <input id="password" pInputText formControlName="password" />
      </div>
    </div>

    <div class="col-md-6">
      <label for="roleId" class="form-label">Role</label>
      <select id="roleId" formControlName="roleId" class="form-select">
        <option [value]="1">Admin</option>
        <option [value]="2">User</option>
      </select>
    </div>

    <div class="p-fluid">
      <div class="p-field">
        <label for="companyId" class="field-label">Company ID</label>
        <input id="companyId" pInputText formControlName="companyId" />
      </div>
    </div>

    <p-footer class="dialog-footer">
      <div class="dialog-actions">
        <button
          pButton
          type="submit"
          label="Save"
          class="p-button-success"
          [disabled]="userForm.invalid"
        ></button>

        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-secondary"
          (click)="hideDialog()"
        ></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
