<div class="mx-4">
  <div class="d-flex align-items-start">
    <span
      *ngIf="companyName"
      class="h5 d-flex align-items-center justify-content-center mt-3"
    >
      <i
        class="pi pi-building me-2"
        style="font-size: 30px; color: #0d6efd"
      ></i>
      <strong class="me-1">Company:</strong> {{ companyName }}
    </span>
  </div>

  <!-- Add Company User Button -->

  <div class="d-flex justify-content-end align-items-center mt-4 mb-4">
    <button class="btn btn-primary rounded-pill px-4" (click)="showDialog()">
      <i class="bi bi-plus-circle me-2"></i> Add Company User
    </button>
  </div>

  <!-- Company User Table -->
  <div class="table-responsive">
    <table
      class="table table-bordered table-hover align-middle text-center animate__animated animate__fadeInUp"
    >
      <thead class="table-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Permissions</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roleId === 1 ? "Admin" : "User" }}</td>
          <td>
            <ng-container
              *ngFor="let name of getPermissionNames(user.privileges)"
            >
              <span class="badge bg-primary me-1">{{ name }}</span>
            </ng-container>
          </td>
          <td>
            <i
              class="pi pi-eye text-primary me-3"
              style="cursor: pointer"
              (click)="navigateTo(user.id)"
            ></i>
            <i
              class="pi pi-pencil text-primary me-3"
              style="cursor: pointer"
              (click)="showDialog('Edit', user)"
            ></i>
            <i
              class="pi pi-trash text-danger"
              style="cursor: pointer"
              (click)="delete(user.id)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- User Dialog -->
  <p-dialog
    header="{{ title ? 'Edit Company User' : 'Add Company User' }}"
    [(visible)]="isVisible"
    (onHide)="hideDialog()"
    [modal]="true"
    [style]="{ width: '490px' }"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    [breakpoints]="{}"
    [styleClass]="'custom-dialog'"
  >
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            class="form-control"
          />
        </div>

        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
          />
        </div>

        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
          />
        </div>

        <div class="col-md-6">
          <label for="roleId" class="form-label">Role</label>
          <select id="roleId" formControlName="roleId" class="form-select">
            <option [value]="1">Admin</option>
            <option [value]="2">User</option>
          </select>
        </div>

        <div class="col-md-6" *ngIf="isSuperAdmin && company_id">
          <label for="companyIdInput" class="form-label">Company ID</label>
          <input
            id="companyIdInput"
            formControlName="companyId"
            type="number"
            class="form-control"
          />
        </div>
        <div class="col-md-6" *ngIf="isSuperAdmin && !company_id">
          <label for="companies" class="form-label">Companies</label>
          <p-multiSelect
            [options]="companies"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            optionValue="id"
            formControlName="companies"
            placeholder="Select Companies"
          ></p-multiSelect>
        </div>
      </div>
      <p-footer class="dialog-footer">
        <div class="dialog-actions">
          <button
            pButton
            type="submit"
            label="Save"
            class="p-button-success"
          ></button>
        </div>
      </p-footer>
    </form>
  </p-dialog>
</div>
