<div class="main-grid">
<span *ngIf="companyName" class="h5 d-flex align-items-center justify-content-center">
  <i class="pi pi-building me-2" style="font-size: 30px; color: #0D6EFD;"></i>
  <strong class="me-1">Company:</strong> {{ companyName }}
</span>
  <p-card header="User Information" subheader="Profile Summary">
    <div class="user-info" *ngIf="user[0]">
      <div class="info-row">
        <strong>Name:</strong>
        <span>{{ user[0].name }}</span>
      </div>
      <div class="info-row">
        <strong>Email:</strong>
        <span>{{ user[0].email }}</span>
      </div>
      <div class="info-row">
        <strong>Password (hashed):</strong>
        <span class="password">{{ user[0].password }}</span>
      </div>
      <div class="info-row">
        <strong>Company ID:</strong>
        <span>{{ user[0].companyId }}</span>
      </div>
      <div class="info-row">
        <strong>Role:</strong>
        <span>{{ user[0].roleId == 1 ? "Admin" : "User" }}</span>
      </div>
    </div>
  </p-card>

  <p-card header="Accessible Departments" subheader="List of departments the user has permission to access">
    <div class="card-grid">
      <p-card header="Finance" *ngIf="permissions.includes(1)" class="finance-card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </p>
      </p-card>

      <p-card header="Marketing" *ngIf="permissions.includes(2)" class="marketing-card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </p>
      </p-card>

      <p-card header="Sales" *ngIf="permissions.includes(3)" class="sales-card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </p>
      </p-card>

      <p-card header="HR" *ngIf="permissions.includes(4)" class="hr-card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </p>
      </p-card>

      <p-card header="IT" *ngIf="permissions.includes(5)" class="it-card">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </p>
      </p-card>
    </div>
  </p-card>
</div>